{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}
    {{ super() }} 
    404 
{% endblock title %}

{% block content %}
    <h1>No encontramos lo que buscabas!</h1>
    <p>{{ error }}</p>
{% endblock content %}