<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %} Flask Platzi | {% endblock title %}
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <header>
            {% include 'navbar.html' %}
        </header>
        {% block content %}

        {% endblock content %}
    </body>
</html>