{% extends 'base.html' %}
{% import 'macros.html' as macros %}

{% block title %}
    {{ super() }} 
    Bienvenido 
{% endblock title %}

{% block content %}
    {% if user_ip %}
        <h1>Hello Charles, you IP is {{ user_ip }}</h1>
    {% else %}
        <a href="{{ url_for('index') }}">Ir a inicio</a>
    {% endif %}
    <ul>
        {% for todo in todos %}
            {{ macros.render_todo(todo) }}
        {% endfor %}
    </ul>
{% endblock content %}