<nav>
    <ul>
        <img src="{{ url_for('static', filename='images/Flask.png')}}" alt="">
        <li>
            <a href="{{ url_for('index') }}">Ir a inicio</a>
        </li>
        <li>
            <a href="https://platzi.com">Ir a platzi</a>
        </li>
    </ul>
</nav>